<section class="aboutUS" id="about">
  <div class="container">
    <picture class="img-wrapper">
      <source
        media="(min-width:1440px)"
        srcset="
          ./img/aboutUs/team-desk.jpg    1x,
          ./img/aboutUs/team@2x-desk.jpg 2x
        " />
      <source
        media="(min-width:768px)"
        srcset="
          ./img/aboutUs/team-tab.jpg    1x,
          ./img/aboutUS/team@2x-tab.jpg 2x
        " />
      <source
        media="(max-width:767px)"
        srcset="
          ./img/aboutUs/teamImage-mob.jpg    1x,
          ./img/aboutUs/teamImage@2x-mob.jpg 2x
        " />
      <img class="img-team" src="./img/aboutUs/team-desk.jpg" alt="team"
    /></picture>

    <div class="text-content">
      <svg class="logo-icon" width="64" height="64">
        <use href="./img/symbol-defs.svg#icon-logo-icon"></use>
      </svg>

      <h2 class="aboutUS-title">About ArtistsHub</h2>

      <p class="aboutUS-text">
        At ArtistsHub, our mission is to connect music lovers with the artists
        they adore. We strive to create a vibrant community where discovering
        new music is as enjoyable as listening to it.
      </p>
    </div>
  </div>
</section>
