<section class="artist-section" id="artists">
   <div class="container">
     <div class="artist-container">
      <h2 class="artist-header">Artists</h2>
      <h3 class="artist-second-header">Explore Your New Favorite Artists</h3>
      <ul class="artist-list"></ul>
      <span class="loader is-hidden" ></span>
      <button type="button" class="artist-load-btn">Load More 
       <svg class="load-btn-svg">
         <use href="/img/icons-svg.svg#icon-arrow"></use>
       </svg>
      </button>
     </div>

  </div>
</section>

