<section class="artist-section">
   <div class="container">
     <div class="artist-container">
      <h2 class="artist-header">Artists</h2>
      <h3 class="artist-second-header">Explore Your New Favorite Artists</h3>
      <ul class="atrist-list">

        <li class="atrist-item">
          <img class="atrist-item-img" src="../img/image1.jpg" alt="">
          <ul class="atrist-ganre-list">
            <li class="atrist-ganre-item">Alternative</li>
            <li class="atrist-ganre-item">Pop</li>
            <li class="atrist-ganre-item">Rock</li>
            <li class="atrist-ganre-item">Indie</li>
          </ul>
          <p class="artist-name">Ren</p>
          <p class="artist-description" id="artist-description">Ren Eryn Gill, known professionally as Ren, is a multi-award-winning Welsh singer-songwriter, musician, rapper, producer, and director. Formerly a member</p>
          <button type="button" class="artist-learn-btn">Learn More
            <svg class="learn-btn-svg">
               <use href="../img/icons-svg.svg#icon-icon"></use>
            </svg>
          </button>
        </li> 

        <li class="atrist-item">
          <img class="atrist-item-img" src="../img/image2.jpg" alt="">
          <ul class="atrist-ganre-list">
            <li class="atrist-ganre-item">Alternative</li>
            <li class="atrist-ganre-item">Pop</li>
            <li class="atrist-ganre-item">Rock</li>
            <li class="atrist-ganre-item">Indie</li>
          </ul>
          <p class="artist-name">Unlike Pluto</p>
          <p class="artist-description">A look at the influential figures who shaped jazz music history.</p>
          <button type="button" class="artist-learn-btn">Learn More
            <svg class="learn-btn-svg">
               <use href="../img/icons-svg.svg#icon-icon"></use>
            </svg>
          </button>
        </li> 

        <li class="atrist-item">
          <img class="atrist-item-img" src="../img/image3.jpg" alt="../img/image3.jpg">
          <ul class="atrist-ganre-list">
            <li class="atrist-ganre-item">Alternative</li>
            <li class="atrist-ganre-item">Pop</li>
            <li class="atrist-ganre-item">Rock</li>
            <li class="atrist-ganre-item">Indie</li>
          </ul>
          <p class="artist-name">Sleepy Hallow</p>
          <p class="artist-description">A look at the influential figures who shaped jazz music history.</p>
          <button type="button" class="artist-learn-btn">Learn More
           <svg class="learn-btn-svg">
               <use href="../img/icons-svg.svg#icon-icon"></use>
           </svg>
          </button>
        </li> 

        <li class="atrist-item">
          <img class="atrist-item-img" src="../img/image4.jpg" alt="">
          <ul class="atrist-ganre-list">
            <li class="atrist-ganre-item">Alternative</li>
            <li class="atrist-ganre-item">Pop</li>
            <li class="atrist-ganre-item">Rock</li>
            <li class="atrist-ganre-item">Indie</li>
          </ul>
          <p class="artist-name">Samara Cyn</p>
          <p class="artist-description">A look at the influential figures who shaped jazz music history.</p>
          <button type="button" class="artist-learn-btn">Learn More
           <svg class="learn-btn-svg">
               <use href="../img/icons-svg.svg#icon-icon"></use>
           </svg>
          </button>
        </li> 

        <li class="atrist-item">
          <img class="atrist-item-img" src="../img/image5.jpg" alt="">
          <ul class="atrist-ganre-list">
            <li class="atrist-ganre-item">Alternative</li>
            <li class="atrist-ganre-item">Pop</li>
            <li class="atrist-ganre-item">Rock</li>
            <li class="atrist-ganre-item">Indie</li>
          </ul>
          <p class="artist-name">Olver Tree</p>
          <p class="artist-description">A look at the influential figures who shaped jazz music history.</p>
          <button type="button" class="artist-learn-btn">Learn More
           <svg class="learn-btn-svg">
               <use href="../img/icons-svg.svg#icon-icon"></use>
           </svg>
          </button>
        </li> 

        <li class="atrist-item">
          <img class="atrist-item-img" src="../img/image6.jpg" alt="">
          <ul class="atrist-ganre-list">
            <li class="atrist-ganre-item">Alternative</li>
            <li class="atrist-ganre-item">Pop</li>
            <li class="atrist-ganre-item">Rock</li>
            <li class="atrist-ganre-item">Indie</li>
          </ul>
          <p class="artist-name">Logic</p>
          <p class="artist-description">A look at the influential figures who shaped jazz music history.</p>
          <button type="button" class="artist-learn-btn">Learn More
           <svg class="learn-btn-svg">
               <use href="../img/icons-svg.svg#icon-icon"></use>
           </svg>
          </button>
        </li> 

        <li class="atrist-item">
          <img class="atrist-item-img" src="../img/image7.jpg" alt="">
          <ul class="atrist-ganre-list">
            <li class="atrist-ganre-item">Alternative</li>
            <li class="atrist-ganre-item">Pop</li>
            <li class="atrist-ganre-item">Rock</li>
            <li class="atrist-ganre-item">Indie</li>
          </ul>
          <p class="artist-name">Mother Mother</p>
          <p class="artist-description">A look at the influential figures who shaped jazz music history.</p>
          <button type="button" class="artist-learn-btn">Learn More
           <svg class="learn-btn-svg">
               <use href="../img/icons-svg.svg#icon-icon"></use>
           </svg>
          </button>
        </li> 

        <li class="atrist-item">
          <img class="atrist-item-img" src="../img/image8.jpg" alt="">
          <ul class="atrist-ganre-list">
            <li class="atrist-ganre-item">Alternative</li>
            <li class="atrist-ganre-item">Pop</li>
            <li class="atrist-ganre-item">Rock</li>
            <li class="atrist-ganre-item">Indie</li>
          </ul>
          <p class="artist-name">Livingston</p>
          <p class="artist-description">A look at the influential figures who shaped jazz music history.</p>
          <button type="button" class="artist-learn-btn">Learn More
           <svg class="learn-btn-svg">
               <use href="../img/icons-svg.svg#icon-icon"></use>
           </svg>
          </button>
        </li> 

      </ul>
      <button type="button" class="artist-load-btn">Load More 
       <svg class="load-btn-svg">
         <use href="../img/icons-svg.svg#icon-arrow"></use>
       </svg>
      </button>
     </div>

  </div>
</section>

