<section class="artist-section" id="artists">
  <div class="container">
    <div class="artist-container">
      <h2 class="artist-header">Artists</h2>
      <h3 class="artist-second-header">Explore Your New Favorite Artists</h3>

      <div class="artist-container-wrapper">
        <div class="container-btn-search">
          <h3 class="container-btn-filters">Filters</h3>
          <div class="artist-form-wrapper">
            <button class="search-filters-btn" type="button">
              Search and Filters
              <svg class="search-filters-btn-svg">
                <use
                  href="/img/symbol-defs.svg#icon-down"
                ></use>
              </svg>
            </button>

            <form action="submit" class="js-form artist-search">
              <div class="filters">
                <div class="filters-header">
                  <h3 class="filters-header-desctop">Filters</h3>
                  <button type="button" class="reset-btn reset-btn-js">
                    Reset
                  </button>
                </div>

                <div class="filters-search">
                  <div class="search-wrapper">
                    <input class="filters-input" type="text" name="search" placeholder="Search"/>
                    <button class="filters-input-btn" type="submit">
                      <svg
                      class="search-icon"
                      width="16"
                      height="16"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <circle cx="7" cy="7" r="5"></circle>
                      <line x1="11" y1="11" x2="15" y2="15"></line>
                    </svg>
                    </button>
                  </div>
                </div>

                <div class="filters-select">
                  <select class="filters-dropdown-sort">
                    <option value="default" disabled selected>
                      Sorting
                      <svg class="search-filters-btn-svg">
                        <use
                          href="/img/symbol-defs.svg#icon-down"
                        ></use>
                      </svg>
                    </option>
                    <option value="">Default</option>
                    <option value="asc">A-Z</option>
                    <option value="desc">Z-A</option>
                  </select>
                </div>

                <div class="filters-select">
                  <select class="filters-dropdown-genre">
                    <option value="" selected>Genre</option>
                    <option value="all">All Genres</option>
                    <option value="rock">Rock</option>
                    <option value="pop">Pop</option>
                    <option value="hip-hop">Hip-hop</option>
                    <option value="jazz">Jazz</option>
                    <option value="classical">Classical</option>
                    <option value="electronic">Electronic</option>
                    <option value="reggae">Reggae</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>

        <ul class="artist-list"></ul>

        <!-- empty -->
        <div class="artist-empty visually-hidden">
          <svg class="artist-empty-svg">
            <use
              href="/img/symbol-defs.svg#icon-attantion"
            ></use>
          </svg>
          <h2 class="artist-empty-header">Silence on the stage…</h2>
          <p class="artist-empty-text">
            Looks like no artists match your filters. <br />
            Try changing them or hit "Reset Filters" to bring back the beat.
          </p>
          <button type="button" class="artist-empty-btn reset-btn-js">
            Reset filters
          </button>
        </div>
      </div>

      <span class="loader is-hidden"></span>
      <button type="button" class="artist-load-btn">
        Load More
        <svg class="load-btn-svg">
          <use
            href="/img/symbol-defs.svg#icon-arrow"
          ></use>
        </svg>
      </button>
    </div>
  </div>
</section>
