<section class="section" id="reviews">
  <div class="container">
    <h2 class="feedback-title">Відгуки</h2>
    <div class="swiper feedback-swiper">
      <div class="swiper-wrapper"></div>
      <div class="custom-pagination">
        <svg
          width="1312"
          height="29"
          viewBox="0 0 1312 29"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        ></svg>
      </div>
      <div class="swiper-button-prev">
        <svg
          width="48"
          height="48"
          viewBox="0 0 14 15"
          fill="currentColor"
          preserveAspectRatio="xMidYMid meet"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8.70694 12.6655L4.41394 8.37253H13.9999V6.37253H4.41394L8.70694 2.07953L7.29294 0.665527L0.585938 7.37253L7.29294 14.0795L8.70694 12.6655Z"
          />
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg
          width="48"
          height="48"
          viewBox="0 0 14 15"
          fill="currentColor"
          preserveAspectRatio="xMidYMid meet"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M5.293 12.6655L6.707 14.0795L13.414 7.37253L6.707 0.665527L5.293 2.07953L9.586 6.37253H0V8.37253H9.586L5.293 12.6655Z"
          />
        </svg>
      </div>
    </div>
  </div>
</section>
