<section class="contact-modal">
    <div class="modal">
        <div class="container-modal">

<svg class="icon" width="32" height="32">
  <use  href="img/icon.svg#icon-Icon"></use>
</svg>
            <h2 class="title-name">Unlike Pluto</h2>
            <img class="artist-photo" src="img/modalimagex.jpg"  alt="Foto">
            <div class="folder">
                <div class="folder-box">
                    <h3 class="years-title">Years active</h3>
                    <p class="years-item">2013–present</p>
                </div>
                <div class="folder-box">
                    <h3 class="years-title">Sex</h3>
                    <p class="years-item">Male</p>
                </div>
                <div class="folder-box">
                    <h3 class="years-title">Members</h3>
                    <p class="years-item">1</p>
                </div>
                <div class="folder-box">
                    <h3 class="years-title">Country</h3>
                    <p class="years-item">United States</p>
                </div>
                <div class="folder-box">
                    <h3 class="years-title">Biography</h3>
                    <p class="years-item">Armond Arabshahi, known by his stage name Unlike Pluto, is an American singer, songwriter, music producer, and former
                    DJ. He is mainly known for his song "Everything Black", released under the record label Monstercat in 2017, which he
                    produced with Philadelphia-based vocalist and DJ Mike Taylor.</p>
                
                </div>
                <div class="janr">
                    <p class="janr-item">Alternative</p>
                    <p class="janr-item">Pop</p>
                    <p class="janr-item">Rock</p>
                    <p class="janr-item">Indie</p>
                </div>
                          
            </div>
            <div class="album-box">
                <h2 class="album-title">Albums</h2>
                <div class="album-title-box">
                    <h3 class="name-album">Ghost Gardens</h3>
                    <ul class="name-column track-name">
                        <li class="name-column-item item-col-1">Track</li>
                        <li class="name-column-item item-col-1">Time</li>
                        <li class="name-column-item item-col-1">Link</li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Rip Me Apart</li>
                        <li class="track-name-item item-col-2">3:02</li>
                        <li class="track-name-item item-col-3"><svg class="icon-youtube" width="24" height="24">
                            <use href="img/icon.svg#icon-Youtube"></use></svg></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Dig</li>
                        <li class="track-name-item item-col-2">2:54</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Lethal Poetry</li>
                        <li class="track-name-item item-col-2">2:02</li>
                        <li class="track-name-item item-col-3"><svg class="icon-youtube" width="24" height="24">
                            <use href="img/icon.svg#icon-Youtube"></use>
                        </svg></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Lost Inside</li>
                        <li class="track-name-item item-col-2">2:32</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Flutter</li>
                        <li class="track-name-item item-col-2">1:49</li>
                        <li class="track-name-item item-col-3"><svg class="icon-youtube" width="24" height="24">
                            <use href="img/icon.svg#icon-Youtube"></use>
                        </svg></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Fragile Skin Of Me</li>
                        <li class="track-name-item item-col-2">2:15</li>
                        <li class="track-name-item item-col-3"><svg class="icon-youtube" width="24" height="24">
                            <use href="img/icon.svg#icon-Youtube"></use>
                        </svg></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Is It Victory</li>
                        <li class="track-name-item item-col-2">2:12</li>
                        <li class="track-name-item item-col-3"><svg class="icon-youtube" width="24" height="24">
                            <use href="img/icon.svg#icon-Youtube"></use>
                        </svg></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Misery</li>
                        <li class="track-name-item item-col-2">2:56</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">One On One</li>
                        <li class="track-name-item item-col-2">3:12</li>
                        <li class="track-name-item item-col-3"><svg class="icon-youtube" width="24" height="24">
                            <use href="img/icon.svg#icon-Youtube"></use>
                        </svg></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Infinity</li>
                        <li class="track-name-item item-col-2">3.24</li>
                        <li class="track-name-item item-col-3"><svg class="icon-youtube" width="24" height="24">
                            <use href="img/icon.svg#icon-Youtube"></use>
                        </svg></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Lost Inside</li>
                        <li class="track-name-item item-col-2">2:32</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Glory</li>
                        <li class="track-name-item item-col-2">2:56</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Black Lotus</li>
                        <li class="track-name-item item-col-2">2:02</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Frozen In Time</li>
                        <li class="track-name-item item-col-2">2:33</li>
                        <li class="track-name-item item-col-3"><svg class="icon-youtube" width="24" height="24">
                            <use href="img/icon.svg#icon-Youtube"></use>
                        </svg></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Clouded</li>
                        <li class="track-name-item item-col-2">3:10</li>
                        <li class="track-name-item item-col-3"><svg class="icon-youtube" width="24" height="24">
                            <use href="img/icon.svg#icon-Youtube"></use>
                        </svg></li>
                    </ul>
                </div>
                <div class="album-title-box">
                    <h3 class="name-album">Cherry Blossom Nightmare</h3>
                    <ul class="name-column track-name">
                        <li class="name-column-item item-col-1">Track</li>
                        <li class="name-column-item item-col-2">Time</li>
                        <li class="name-column-item item-col-3">Link</li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Rip Me Apart</li>
                        <li class="track-name-item item-col-2">3:02</li>
                        <li class="track-name-item item-col-3"><svg class="icon-youtube" width="24" height="24">
                            <use href="img/icon.svg#icon-Youtube"></use>
                        </svg></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Dig</li>
                        <li class="track-name-item item-col-2">2:54</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Fragile Skin Of Me</li>
                        <li class="track-name-item item-col-2">2:15</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Is It Victory</li>
                        <li class="track-name-item item-col-2">2:12</li>
                        <li class="track-name-item item-col-3"><svg class="icon-youtube" width="24" height="24">
                            <use href="img/icon.svg#icon-Youtube"></use>
                        </svg></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Misery</li>
                        <li class="track-name-item item-col-2">2:56</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">One On One</li>
                        <li class="track-name-item item-col-2">3:14</li>
                        <li class="track-name-item item-col-3"><svg class="icon-youtube" width="24" height="24">
                            <use href="img/icon.svg#icon-Youtube"></use>
                        </svg></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Infinity</li>
                        <li class="track-name-item item-col-2">2:24</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                </div>
                <div class="album-title-box">
                    <h3 class="name-album">Pixelated Oblivion</h3>
                    <ul class="name-column track-name">
                        <li class="name-column-item item-col-1">Track</li>
                        <li class="name-column-item item-col-2">Time</li>
                        <li class="name-column-item item-col-3">Link</li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Rip Me Apart</li>
                        <li class="track-name-item item-col-2">3:02</li>
                        <li class="track-name-item item-col-3"><svg class="icon-youtube" width="24" height="24">
                            <use href="img/icon.svg#icon-Youtube"></use>
                        </svg></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Dig</li>
                        <li class="track-name-item item-col-2">2:54</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Tremor</li>
                        <li class="track-name-item item-col-2">3:02</li>
                        <li class="track-name-item item-col-3"><svg class="icon-youtube" width="24" height="24">
                            <use href="img/icon.svg#icon-Youtube"></use>
                        </svg></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Lethal Poetry</li>
                        <li class="track-name-item item-col-2">3:32</li>
                        <li class="track-name-item item-col-3"><svg class="icon-youtube" width="24" height="24">
                            <use href="img/icon.svg#icon-Youtube"></use>
                        </svg></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Lost Inside</li>
                        <li class="track-name-item item-col-2">3:54</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Glory</li>
                        <li class="track-name-item item-col-2">2:56</li>
                        <li class="track-name-item item-col-3"><svg class="icon-youtube" width="24" height="24">
                            <use href="img/icon.svg#icon-Youtube"></use>
                        </svg></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Black Lotus</li>
                        <li class="track-name-item item-col-2">3:02</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Frozen In Time</li>
                        <li class="track-name-item item-col-2">3:02</li>
                        <li class="track-name-item item-col-3"><svg class="icon-youtube" width="24" height="24">
                            <use href="img/icon.svg#icon-Youtube"></use>
                        </svg></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item">Clouded</li>
                        <li class="track-name-item">3:10</li>
                        <li class="track-name-item"></li>
                    </ul>
                </div>
                <div class="album-title-box">
                    <h3 class="name-album">Loud Fantasy, Quiet Reality</h3>
                    <ul class="name-column track-name">
                        <li class="name-column-item item-col-1">Track</li>
                        <li class="name-column-item item-col-2">Time</li>
                        <li class="name-column-item item-col-3">Link</li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Rip Me Apart</li>
                        <li class="track-name-item item-col-2">3:02</li>
                        <li class="track-name-item item-col-3"><svg class="icon-youtube" width="24" height="24">
                            <use href="img/icon.svg#icon-Youtube"></use>
                        </svg></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Is It Victory</li>
                        <li class="track-name-item item-col-2">2:12</li>
                        <li class="track-name-item item-col-3"><svg class="icon-youtube" width="24" height="24">
                            <use href="img/icon.svg#icon-Youtube"></use>
                        </svg></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Misery</li>
                        <li class="track-name-item item-col-2">2:56</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">One On One</li>
                        <li class="track-name-item item-col-2">2:12</li>
                        <li class="track-name-item item-col-3"><svg class="icon-youtube" width="24" height="24">
                            <use href="img/icon.svg#icon-Youtube"></use>
                        </svg></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item">Infinity</li>
                        <li class="track-name-item">3:24</li>
                        <li class="track-name-item"></li>
                    </ul>
                </div>
                <div class="album-title-box">
                    <h3 class="name-album">Cherry Blossom Nightmare</h3>
                    <ul class="name-column track-name">
                        <li class="name-column-item">Track</li>
                        <li class="name-column-item">Time</li>
                        <li class="name-column-item">Link</li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Rip Me Apart</li>
                        <li class="track-name-item item-col-2">3:02</li>
                        <li class="track-name-item item-col-3"><svg class="icon-youtube" width="24" height="24">
                            <use href="img/icon.svg#icon-Youtube"></use>
                        </svg></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Dig</li>
                        <li class="track-name-item item-col-2">2:54</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Fragile Skin Of Me</li>
                        <li class="track-name-item item-col-2">2:15</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Is It Victory</li>
                        <li class="track-name-item item-col-2">2:12</li>
                        <li class="track-name-item item-col-3"><svg class="icon-youtube" width="24" height="24">
                            <use href="img/icon.svg#icon-Youtube"></use>
                        </svg></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Misery</li>
                        <li class="track-name-item item-col-2">2:56</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">One On One</li>
                        <li class="track-name-item item-col-2">3:12</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Infinity</li>
                        <li class="track-name-item item-col-2">3:24</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                </div>
                <div class="album-title-box">
                    <h3 class="name-album">Pixelated Oblivion</h3>
                    <ul class="name-column track-name">
                        <li class="name-column-item">Track</li>
                        <li class="name-column-item">Time</li>
                        <li class="name-column-item">Link</li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Rip Me Apart</li>
                        <li class="track-name-item item-col-2">3:02</li>
                        <li class="track-name-item item-col-3"><svg class="icon-youtube" width="24" height="24">
                            <use href="img/icon.svg#icon-Youtube"></use>
                        </svg></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Dig</li>
                        <li class="track-name-item item-col-2">2:54</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Tremor</li>
                        <li class="track-name-item item-col-2">2:02</li>
                        <li class="track-name-item item-col-3"><svg class="icon-youtube" width="24" height="24">
                            <use href="img/icon.svg#icon-Youtube"></use>
                        </svg></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Lethal Poetry</li>
                        <li class="track-name-item item-col-2">3:32</li>
                        <li class="track-name-item item-col-3"><svg class="icon-youtube" width="24" height="24">
                            <use href="img/icon.svg#icon-Youtube"></use>
                        </svg></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Lost Inside</li>
                        <li class="track-name-item item-col-2">3:54</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Infinity</li>
                        <li class="track-name-item item-col-2">3:24</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Glory</li>
                        <li class="track-name-item item-col-2">2:56</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Black Lotus</li>
                        <li class="track-name-item item-col-2">3:02</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Frozen In Time</li>
                        <li class="track-name-item item-col-2">3:33</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Clouded</li>
                        <li class="track-name-item item-col-2">3:10</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                </div>
                <div class="album-title-box">
                    <h3 class="name-album">Loud Fantasy, Quiet Reality</h3>
                    <ul class="name-column track-name">
                        <li class="name-column-item">Track</li>
                        <li class="name-column-item">Time</li>
                        <li class="name-column-item">Link</li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Fragile Skin Of Me</li>
                        <li class="track-name-item item-col-2">2:15</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Is It Victory</li>
                        <li class="track-name-item item-col-2">2:12</li>
                        <li class="track-name-item item-col-3"><svg class="icon-youtube" width="24" height="24">
                            <use href="img/icon.svg#icon-Youtube"></use>
                        </svg></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Misery</li>
                        <li class="track-name-item item-col-2">2:56</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">One On One</li>
                        <li class="track-name-item item-col-2">3:12</li>
                        <li class="track-name-item item-col-3"><svg class="icon-youtube" width="24" height="24">
                            <use href="img/icon.svg#icon-Youtube"></use>
                        </svg></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Infinity</li>
                        <li class="track-name-item item-col-2">3:24</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                </div>
                <div class="album-title-box">
                    <h3 class="name-album">Ghost Gardens</h3>
                    <ul class="name-column track-name">
                        <li class="name-column-item">Track</li>
                        <li class="name-column-item">Time</li>
                        <li class="name-column-item">Link</li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Rip Me Apart</li>
                        <li class="track-name-item item-col-2">3:02</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Dig</li>
                        <li class="track-name-item item-col-2">2:54</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Tremor</li>
                        <li class="track-name-item item-col-2">2:02</li>
                        <li class="track-name-item item-col-3"><svg class="icon-youtube" width="24" height="24">
                            <use href="img/icon.svg#icon-Youtube"></use>
                        </svg></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Lethal Poetry</li>
                        <li class="track-name-item item-col-2">3:32</li>
                        <li class="track-name-item item-col-3"><svg class="icon-youtube" width="24" height="24">
                            <use href="img/icon.svg#icon-Youtube"></use>
                        </svg></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Infinity</li>
                        <li class="track-name-item item-col-2">3:24</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Glory</li>
                        <li class="track-name-item item-col-2">2:56</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Black Lotus</li>
                        <li class="track-name-item item-col-2">2:56</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Frozen In Time</li>
                        <li class="track-name-item item-col-2">3:33</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                    <ul class="track-name">
                        <li class="track-name-item item-col-1">Clouded</li>
                        <li class="track-name-item item-col-2">3:10</li>
                        <li class="track-name-item item-col-3"></li>
                    </ul>
                </div>
            </div>

               

    
        </div>
    </div>

</section>

