.modal-style {
    font-size: 0;
    max-height: auto;
    margin: 0 auto;
    background: #060307;
    padding: 52px 8px;
}

.container-modal {
  background-color: #676363;
  padding: 64px 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 335px;
  margin: 0 auto;
}
  
.artist-photo {
  border-radius: 16px;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 32px;
}

.janr-item:hover,
.janr-item:focus {
  color: gray;
}

.modal-close-btn:focus,
.modal-close-btn:hover{
fill: gray;
} 

.modal-close-btn{
  top: 88.97px;
  right: 40.97px;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  border:none;
  fill:#fff;
}


.icon-youtube{
  border: none;
  fill:#fff; 

}




.title-name{
  font-family: "Epilogue", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #fff;
}



.years-title{
  font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    text-align: left;
    color: #fff;

}

.years-item{
  font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
    text-align: left;
}
.years-item-over{
  overflow-y: auto;
}

  .folder{
    /* margin-bottom: 16px; */
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

.janr{
  display: flex;
  flex-wrap: wrap;
    max-width: 100%;
  gap: 16px;
}



  .janr-item{
      color: #fff;
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 150%;
      letter-spacing: 0%;
      text-align: left;
      border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 6px;
        padding: 4px 10px;
        background: rgba(255, 255, 255, 0);
        display:inline-block;
  }

  .album-box{
display: flex;
flex-wrap: wrap;
gap:32px;
width: 272px;
  }

  .album-title{
  font-family: "Epilogue", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #fff;
  text-align: left;
  margin-top: 16px;
  margin-bottom: 16px;
  }

.album-title-box{
  border-radius: 16px;
    padding: 14px 11px;
    width: 100%;
    min-width: 250px;
    background: #1e1c1f;
}

.name-album{
font-family: "IBM Plex Sans", sans-serif;
font-weight: 600;
font-size: 16px;
line-height: 150%;
color: #fff;
text-align: left;
}

.name-column{

}

.janr{
  margin-top: 16px;
}

.name-column-item{
  font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-size: 8px;
    line-height: 150%;
    color: #fff;
  }

.track-name{
  display: flex;
  flex-direction: row;
  gap:16px;
}



.track-name:nth-child(even){
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
}

.track-name-item{
  font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #fff;
 
      padding-left: 16px;
      text-align: center;

      box-sizing: border-box;
      word-break: break-word;
      display:flex;
      min-height: 50px;
      align-items: center;
}

.track-name-item:last-child {
  border-right: none;
}

/* Column width definitions */
.item-col-1 {
  flex-basis: 50%;
 
  font-weight: 600;
  padding-left: 12px;

}

.item-col-2 {
  flex-basis: 20%;

  text-align: right;

  justify-content: flex-end;
 
}

.item-col-3 {
  flex-basis: 30%;

} 

@media only screen and (min-width: 768px) {
  .container-modal {
    max-width: 768px;
    padding: 0 24px;
  }

  .container-modal{
    padding-right: 33px;
    padding-left: 33px;

  }

  .modal-style{
    padding: 64px 24px;

  }

    .modal-close-btn {
      top: 80px;
      right: 80px;
  }

  .artist-photo{
    margin-top: 48px;
  }

    .album-box {
  
      display: grid;
      grid-template-columns: repeat(2, 311px);
      gap: 32px;
      height: auto;

      
     }
  .album-title{
    margin-top: 48px;
  }

    .folder {
      display: grid;
      grid-template-columns: repeat(2, 146px);
      grid-template-rows: auto auto auto;
      gap: 24px;
      height: auto;
    }

        .years-item-over {
          width: 654px;
        }
  
  .janr{
    margin-top: 24px;
  }


  
  }


  @media screen and (min-width: 1280px) {
    .container {
      max-width: 1280px;
      padding: 0 100px;
    }
}
